/* body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 11111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0;

}
#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel {
    left: 195px;
}
#check:checked ~ section {
    margin-left: 250px;
}

.background {
    background: url(Assets/Images/ew&f.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
} */

@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: url(Assets/Images/ew&f2.jpg) center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.logo {
    width: 140px;
    height: auto;
    padding: 20px 100px;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Piazzolla', serif;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: goldenrod;
    border-radius: 2px;
}

.wrapper .center {
    margin-top: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-family: 'Piazzolla', serif;
    user-select: none;
}

.center p {
    color: red;
    font-weight: bold;
    width: 500px;
    text-align: center;
    background-color: white;
}

.center h1 {
    color: black;
    font-size: 60px;
    font-weight: bold;
    width: 500px;
    margin-top: 10px;
    text-align: center;
    background-color: goldenrod;
    padding: 5px 5px 5px 5px;
}

.info {
    text-align: center;
    font-family: 'Piazzolla', serif;
    font-weight: bold;
}

.info .button {
    font-size: 25px;
    margin-top: 10px;
    background-color: goldenrod;
}